<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-wrap -m-4">
    <!-- Especialidades -->
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
      <a class="block relative h-48 rounded overflow-hidden"
         [routerLink]="['/home/especialidades']">
        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
             src="../../../assets/img/logo/pasteles/strawberry-roll-1263099_1920.jpg"
             [alt]="categorias?.nombre">
      </a>
      <div class="mt-4">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
        <h2 class="text-gray-900 title-font text-lg font-medium"> Especialidades </h2>
      </div>
    </div>
    <!-- Entremets -->
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
      <a class="block relative h-48 rounded overflow-hidden"
         [routerLink]="['/home/entremets']">
        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
             src="../../../assets/img/logo/entremets/macarons-2548810_1920.jpg"  
             [alt]="categorias?.nombre">
      </a>
      <div class="mt-4">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
        <h2 class="text-gray-900 title-font text-lg font-medium"> Entremets </h2>
      </div>
    </div>

    <!-- Tortas -->
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden"
           [routerLink]="['/home/tortas']">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../../assets/img/logo/pasteles/cake-1284548_1920.jpg"
             [alt]="categorias?.nombre">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"> Tortas </h2>
        </div>
      </div>

       <!-- Entradas -->
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden"
           [routerLink]="['/home/entradas']">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../../assets/img/logo/entremets/persimmon-1154675_1920.jpg"
             [alt]="categorias?.nombre">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"> Entradas </h2>
        </div>
      </div>


  </div>
</div>

  

